<div class="row">
  <div class="col-sm-12">   
    <h1>High Scores</h1>
  </div>
</div>

<div class="row voffset-2">
  <div class="col-sm-12">

    <div class="panel-dark panel-default">
    <table class="table table-striped">
      <thead>
        <tr>
          <th width="20%">Pos.</th>
          <th width="25%">Name</th>
          <th width="25%">Time</th>
          <th width="25%">Score</th>
        </tr>
      </thead>
      <tbody>
      <% i = 0 %>
      <% @high_scores.each do |data| %>
        <% if data == @current_user_data %>
          <% if data == @maximum_score_data %>
            <tr class="success">
          <% else %>
            <tr class="warning">
          <% end %>
        <% else %>
          <tr>
        <% end %>
          <td width="20%"><%= i += 1 %>.</td>
          <td width="25%"><%= data[:user_name] %></td>
          <td width="25%"><%= data[:total_time] %></td>
          <td width="25%"><%= data[:score] %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
    </div>

    <% if @current_user_data && !@high_scores.include?(@current_user_data) %>
      <div class="panel-dark panel-default">
      <table class="table table-striped">
        <tbody>
          <tr class="warning">
            <td width="20%"><%= @current_user_position %>.</td>
            <td width="25%"><%= @current_user_data[:user_name] %></td>
            <td width="25%"><%= @current_user_data[:total_time] %></td>
            <td width="25%"><%= @current_user_data[:score] %></td>
          </tr>
        </tbody>
      </table>
      </div>
    <% end %>
  
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="btn-group btn-group-justified" role="group" aria-label="...">
      <a href="/" class="btn btn-default" role="button">Play Again</a>
    </div>
  </div>
</div>
