<div class="row">
  <div class="col-sm-12">   
    <h2>High Scores</h2>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">

    <table class="table table-striped">
      <tr>
        <th>#</th>
        <th>User</th>
        <th>Date</th>
        <th>Time</th>
        <th>Score</th>
      </tr>
      <% i = 0 %>
      <% @scores.each do |score| %>
        <tr>
          <td><%= i += 1 %></td>
          <td><%= score[:user_name] %></td>
          <td><%= score[:date] %></td>
          <td><%= score[:total_time] %></td>
          <td><%= score[:score] %></td>
        </tr>
      <% end %>
    </table>
  
  </div>
</div>