<div class="row">
  <div class="col-sm-12">   
    <h1>High Scores</h1>
  </div>
</div>

<div class="row voffset-2">
  <div class="col-sm-12">

    <div class="panel panel-default">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <!-- <th>Date</th> -->
          <th>Time</th>
          <th>Score</th>
        </tr>
      </thead>
      <tbody>
      <% i = 0 %>
      <% @high_scores.each do |data| %>
        <% if data == @current_user_data %>
          <% if data == @maximum_score_data %>
            <tr class="success">
          <% else %>
            <tr class="warning">
          <% end %>
        <% else %>
          <tr>
        <% end %>
          <td><%= i += 1 %></td>
          <td><%= data[:user_name] %></td>
          <!-- <td><%= data[:date] %></td> -->
          <td><%= data[:total_time] %></td>
          <td><%= data[:score] %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
    </div>
  
  </div>
</div>

<div class="row voffset">
  <div class="col-sm-12">
    <div class="btn-group btn-group-justified" role="group" aria-label="...">
      <a href="/" class="btn btn-default" role="button">Play Again</a>
    </div>
  </div>
</div>