<h1>
  <%= room.name %>
</h1>

<p>
  <%= room.description %>
</p>

<% if room.actions %>
  <% if !show_actions? %>
  <p>Type 'actions' to see available actions.</p>
  <% else %>
    <% i = 1 %> 
    <h2><%= "Actions: " %></h2>
    <ul>
    <% room.paths.keys.each do |action| %>
      <% if action != "next!" %>
        <li><%= "#{action}" %></li>
      <% end %>
      <% i += 1 %>
    <% end %>
    </ul>
  <% end %>
<% end %>

<% if room.keypad %>
  <% if hint_not_used? %>
    <p>Type 'hint!' to receive a hint. You can only do it once.</p>
  <% end %>
  <% if show_hint? %>
    <p><%= show_code_hint(room.code) %></p>
  <% end %>
  <% if room.code %>
    <% if buzzed? %>
      <p>BZZZZEDDD!</p>
    <% end %>
    <% if @@guesses > 0 && @@guesses != 6 %>
      <p>Tries left: <%= 6 - @@guesses %></p>
    <% elsif @@guesses == 6 %>
      <p>Last try!</p>      
    <% end %>
  <% end %>
<% end %>

<% if does_not_compute? %>
  <p>DOES NOT COMPUTE!</p>
<% end %>

<% if room.name =~ /death/ %>
  <p><%= show_last_death_line %></p>
  <p><a href="/">Play Again?</a></p>
<% elsif room.name == "The End" %>
  <p><a href="/">Play Again?</a></p>
<% else %>
  <form action="/game" method="POST">
    <input type="text" name="action">
    <input type="submit">
  </form>
<% end %>