<div class="row">
  <div class="col-sm-12">
    <h1 class="h2 h2-room-title">
      <%= room.name %>
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <p class="score">
      Score: <%= show_score %>
    </p>
    <% if score_change.to_i != 0 %>
      <% if score_change.to_i > 0 %>
        <p class="score-change score-change-positive">
      <% else %>
        <p class="score-change score-change-negative">
      <% end %>
        <%= score_change %>
      </p>
    <% end %>
    <% if time_bonus? %>
      <% if bonus_multiplier? %>
        <p class="time-bonus score-change-time-bonus"><%= "+#{total_time_bonus} Time bonus x #{bonus_multiplier}!" %></p>
      <% else %>
        <p class="time-bonus score-change-time-bonus"><%= "+#{time_bonus} Time bonus!" %></p>
      <% end %>
    <% end %>
  </div>
</div>

<div class="row voffset">
  <div class="col-sm-12">
    <% if !buzzed? && !show_hint? && !door_did_not_open? %>
      <div class="panel panel-default">
        <div class="panel-body">
          <%= room.description %>
        </div>
      </div>
    <% end %>
  </div>
</div>
    
<div class="row">
  <div class="col-sm-12">
    <div class="alert alert-info">

      <% if room.actions %>

        <% if !show_actions? && !show_actions_by_default? %>
        <p>Type 'actions' to see available actions.</p>
        <% else %>
          <p><%= "Actions:" %></p>
          <ul class="list-unstyled">
          <% room.paths.keys.each do |action| %>
            <% if action != "n!!" %>
              <li><%= "- #{action}" %></li>
            <% end %>
          <% end %>
          </ul>
        <% end %>

      <% end %>

      <% if room.keypad %>

        <% if room.code %>
          <% if show_hint? %>
            <p>Remember well.</p>
            <p><%= "Hint: #{show_code_hint(room.code)}" %></p>
          <% end %>
          <% if buzzed? %>
            <p class="shake"><%= buzz %></p>
          <% end %>
          <% if guesses? %>
            <%= check_guesses %>
          <% end %>

        <% elsif room.doors %>
          <% if show_hint? %>
            <p>Remember well.</p>
            <p><%= "A pod that is not: #{show_door_hint(room.good_door, room.bad_door, room.doors)}" %></p>
          <% end %>
          <% if door_did_not_open? && !show_hint? %>
            <p>The pod is locked!</p>
            <p>You're running out of time. This is your last try!</p>
          <% end %>  
        <% end %> 

        <% if hint_not_used? && !door_did_not_open? %>
          <p>Type 'hint!' to receive a hint.</p>
        <% end %>

      <% end %>

      <% if !room.player_alive %>
        <p><%= show_last_death_line %></p>
        <p><%= "Score: #{show_score}" %></p>
      <% end %>

      <% if room.player_won %>
        <p>You won!</p>
        <p><%= "Time: #{show_total_time}" %></p>      
        <p><%= "Score: #{show_score}" %></p>
      <% end %>

    </div>
  </div>
</div>

<% if room.player_won %>
  <div class="row">
    <div class="col-sm-12">
      <h3 class="bonus-table-title">Bonus points</h3>
      <div class="panel panel-default">
        <table class="table table-striped">
          <tbody>
            <% bonus_points.each do |key, value| %>
              <tr>
                <td><%= key %></td>
                <td><%= value %></td>
              </tr>
            <% end %>
            <tr>
              <td>Total</td>
              <td><%= total_bonus_points %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<% end %>

<% if door_did_not_open? && hint_not_used? %>
  <div class="row">
    <div class="col-sm-12">  
      <div class="alert alert-info">
        <p>Type 'hint!' to receive a hint.</p>
      </div>   
    </div>
  </div>
<% end %>

<% if does_not_compute? %>
  <div class="row">
    <div class="col-sm-12">    
      <div class="alert alert-info">
          <p>INVALID ACTION</p>
      </div>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col-sm-12">
    <% if !room.player_alive || room.player_won %>
      <div class="btn-group btn-group-justified" role="group" aria-label="...">
        <a href="/" class="btn btn-default" role="button">Play Again</a>
        <a href="/scores" class="btn btn-default" role="button">High Scores</a>
      </div>
      <% reset_score %>
    <% else %>
      <form action="/game" method="POST" class="form-horizontal">
        <div class="input-group">
          <label class="sr-only" for="input-text">Action</label>
          <div class="input-group-addon">></div>
          <input type="text" name="action" class="form-control" id="input-text" autofocus="autofocus" autocomplete="off">
          <span class="input-group-btn">
            <label class="sr-only" for="submit">Submit</label>
            <button type="submit" class="btn btn-default" id="submit">
              <span class="glyphicon glyphicon-arrow-right"></span>
            </button>
          </span>
        </div>
      </form>
    <% end %>
  </div>
</div>