<div class="row">
  <div class=col-sm-8>
    <p>Progress Bar</p>
  </div>
  <div class="col-sm-4">
    <p>Score: <%= show_score %></p>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">    
    <h1>
      <%= room.name %>
    </h1>
  </div>
</div>

<% if !buzzed? %>
  <p>
    <%= room.description %>
  </p>
<% end %>

<% if room.actions %>
  <% if !show_actions? && !show_actions_by_default? %>
  <p>Type 'actions' to see available actions.</p>
  <% else %>
    <h2 class="actions"><%= "Actions: " %></h2>
    <ul>
    <% room.paths.keys.each do |action| %>
      <% if action != "next!!" %>
        <li><%= "#{action}" %></li>
      <% end %>
    <% end %>
    </ul>
  <% end %>
<% end %>

<% if room.keypad %>
  <% if hint_not_used? %>
    <p>Type 'hint!' to receive a hint.</p>
  <% end %>
  <% if room.code %>
    <% if show_hint? %>
      <p><%= "Hint: #{show_code_hint(room.code)}" %></p>
    <% end %>
    <% if buzzed? %>
      <%= buzz %>
    <% end %>
    <% if guesses? %>
      <%= check_guesses %>
    <% end %>
  <% elsif room.doors %>
    <% if show_hint? %>
      <p><%= "A pod that is not: #{show_door_hint(room.good_door, room.bad_door, room.doors)}" %></p>
    <% end %>
    <% if door_did_not_open? %>
      <p>The pod is locked!</p>
      <p>You're running out of time. This is your last try!</p>
    <% end %>  
  <% end %>
<% end %>

<% if !room.player_alive %>
  <p><%= show_last_death_line %></p>
  <p>Play Again?</p>
  <% reset_score %>
<% elsif room.player_won %>
  <p>Play Again?</p>
  <% reset_score %>
<% end %>

<% if does_not_compute? %>
  <p>DOES NOT COMPUTE!</p>
<% end %>

<% if room.name != "Bye" %>
  <form action="/game" method="POST">
    <input type="text" name="action" class="input-text">
    <input type="submit" value=">" class="input-submit">
  </form>
<% end %>