<% if room.name != "Dead" && room.name != "The End" %>
  <h1>
    <%= room.name %>
  </h1>
<% end %>

<p>
  <%= room.description %>
</p>

<% if room.actions %>
  <% if !show_actions? && !show_actions_by_default? %>
  <p>Type 'actions' to see available actions.</p>
  <% else %>
    <h2><%= "Actions: " %></h2>
    <ul>
    <% room.paths.keys.each do |action| %>
      <% if action != "next!!" %>
        <li><%= "#{action}" %></li>
      <% end %>
    <% end %>
    </ul>
  <% end %>
<% end %>

<% if room.keypad %>
  <% if hint_not_used? %>
    <p>Type 'hint!' to receive a hint. You can only do it once in this room.</p>
  <% end %>
  <% if room.code %>
    <% if show_hint? %>
      <p><%= "Hint: #{show_code_hint(room.code)}" %></p>
    <% end %>
    <% if buzzed? %>
      <p>BZZZZEDDD!</p>
    <% end %>
    <% if @@guesses > 0 && @@guesses != 6 %>
      <p>Tries left: <%= 6 - @@guesses %></p>
    <% elsif @@guesses == 6 %>
      <p>Last try!</p>      
    <% end %>
  <% elsif room.doors %>
    <% if show_hint? %>
      <p><%= "A door that is not: #{show_door_hint(room.good_door, room.bad_door, room.doors)}" %></p>
    <% end %>
    <% if door_did_not_open? %>
      <p>The pod is locked.</p>
      <p>You're running out of time. This is your last try!</p>
    <% end %>  
  <% end %>
<% end %>

<% if !room.player_alive %>
  <p><%= show_last_death_line %></p>
  <p>Play Again?</p>
<% elsif room.player_won %>
  <p>Play Again?</p>
<% end %>

<% if does_not_compute? %>
  <p>DOES NOT COMPUTE!</p>
<% end %>

<% if room.name != "Bye" %>
  <form action="/game" method="POST">
    <input type="text" name="action">
    <input type="submit">
  </form>
<% end %>